<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>OCP Diag Result Viewer</title>
</head>

<body>
    <div>Upload a file</div>
    <form action="/upload" id="upload" enctype="multipart/form-data">
        <input id="file-input" type="file" name="file">
        <input type="submit" value="Submit">
    </form>
    <script>
        const form = document.getElementById("upload");
        form.addEventListener("submit", async (event) => {
            event.preventDefault();
            const input = document.getElementById("file-input");
            const formData = new FormData();
            formData.append("file", input.files[0]);
            try {
                const response = await fetch("/upload", {
                    method: "POST",
                    body: formData
                });
                const result = await response.json();
                window.location = window.location.origin + "/view/" + result["share_id"];
            } catch (error) {
                console.log(error);
            }
        });

    </script>
</body>

</html>